
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}




body{
    background-color: #f1f0ee ;
    font-family: "SN Pro", sans-serif;

}

.landing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing h1{
    font-size: 160px;

}


.landing h2{
    font-size: 80px;
    
}

section{
    padding: 80px;
}

.navbar{
    position:fixed;
    top:0;
    left:0;

       width:100%;

    z-index:1000;
    text-decoration:none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 80px;
    color: white;
    background-color: #0c0a09 ;
}


.menu{

    display:flex;
    list-style:none;
    gap:50px;
    color: white;
    text-decoration:none;

}



.main-info{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:80px;

}

.main-info h2{
        font-size:4rem;

    margin-bottom:70px;

    text-align:center;
}

.main-info-card{
     width:80%;
    max-width:1100px;

    display:flex;
    align-items:center;

    gap:80px;

    padding:50px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,0.2);

    border-radius:25px;

    box-shadow:0 10px 30px rgba(0,0,0,0.2);   
}

.main-info-photo img{
    width:280px;
    height:280px;

    object-fit:cover;
    border-radius:15px;

}


.main-info-text{
    max-width:500px;
}




.main-skill{

}

.main-skill h2{
    font-size:3rem;
    margin-bottom:50px;
    text-align:center;
}


.skill-list{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;

    padding:80px;
}

.skill-container{
        flex: 1;
    min-width: 280px;
    background-color: var(--blanc);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(138, 90, 106, 0.05);
    border: 1px solid rgba(197, 197, 197, 0.849);
}



.main-project{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

padding: 80px;   
}

.main-project h2{
    font-size:3rem;
    margin-bottom:50px;
    padding:80px;
}


.all-project{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

padding: 80px;
}


.main_project h2{

font-size:3rem;
margin-bottom:50px;
}


.card-project{
width:90%;
    max-width:1300px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;

    padding:50px;

    border-radius:25px;

    background:rgba(202, 199, 199, 0.993);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.2);

    box-shadow:0 8px 32px rgba(0,0,0,0.25);
}


.text-project{
    flex:1;

    display:flex;
    flex-direction:column;
    justify-content:center;
}


.project_text h3{
    font-size:2rem;
    margin-bottom:20px;
  

}



.project_text p{

    font-size:1.1rem;
    line-height:1.8;
    margin-bottom:40px;

}

.button{
        display:inline-block;

    margin-top:30px;

    padding:15px 30px;

    background:rgba(255,255,255,0.15);
    text-decoration:none;
    border:1px solid rgb(60, 166, 216);
    border-radius:12px;
    backdrop-filter:blur(10px);
    transition:0.3s;
    font-weight:bold;
    color:#0c0a09
}

.btn:hover{

    background:rgba(255,255,255,0.3);

    transform:translateY(-3px);

    box-shadow:0 8px 20px rgba(0,0,0,0.2);

}



.contact{
    height:40vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:80px;

}


.icon img{
    width: 50px;
    height: 50px;
    transition: transform 0.7s ease, filter 0.3s ease;
}

.icon img:hover{
    transform: scale(1.2);
    filter: brightness(1.2);
}

.icon img:hover{




}

.contact-text{
    font-size:1.2rem;
    text-align:center;
    margin-bottom:20px;
}