
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.landing{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing h1{
    font-size: 160px;

}


.landing h2{
    font-size: 80px;
    
}

section{
    height: 100vh;
}